<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="subject" placeholder="Subject"><br>
        <input type="email" id="email" placeholder="Email address"><br>
        <textarea name="text" id="text" cols="30" rows="10"></textarea><br>
        <input type="submit">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        $('form').submit(e => {
            e.preventDefault();

            const email = $('#email').val().trim();
            const subject = $('#subject').val().trim();
            const text = $('#text').val().trim();

            //Prepare data for POST
            const data = {
                email,
                subject,
                text
            }
            $.post('/email', data, function(){
                console.log("Server data sent!")
            });
        })
    </script>
</body>
</html>